:root {
    --gap-width: 30px;
    --border-color: #ccc;
}

.container {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
}

.container2 {
    border-width: 0px 2px 2px 2px;
    border-color: black;
    border-style: solid;
    padding: 0px 10px 10px 10px;
}
.dailytasklist,
.generaltasklist {
    border-width: 0px 2px 2px 2px;
    border-color: var(--border-color);
    border-style: solid;
    padding: 0px 10px;
    position: relative;
}
/* fill the gap */
.dailytasklist::before,
.dailytasklist::after,
.generaltasklist::before,
.generaltasklist::after
{
    content: '';
    position: absolute;
    height: var(--gap-width);
    width: 0px;
    
    top: calc(var(--gap-width) * -1);
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
}
.dailytasklist::before,
.generaltasklist::before {
    left: -2px;
}
.dailytasklist::after,
.generaltasklist::after {
    right: -2px;
}
/* end fill gap  */


h1.maintitle {
    color: #333;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
}
h1.maintitle::first-letter {
    font-size: 36px;
}

h1.header {
    color: #333;
    text-transform:uppercase;
    font-size: 24px;
    font-family:'Times New Roman', Times, serif;
    /*'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}
h1.header::first-letter {
    font-size: 26px;
}
h1.header {
    text-align: center;
    position: relative;
}

h1.header .title {
    padding: 0 60px;
}

h1.header .b1,
h1.header .b2,
h1.header .b3,
h1.header .b4 {
    display: inline-block;
    width: 10px;
    height: 10px;
    align-self: center;
    justify-self: center;
    border-radius: 99px;
    transform: translateY(-2px);
}
h1.header .b1 { background-color: #97d452;}
h1.header .b2 { background-color: #0fa9ff;}
h1.header .b3 { background-color: #f4c100;}
h1.header .b4 { background-color: #ff2795;} 

h1.header::before,
h1.header::after {
    position: absolute;
    top: 13px;
    display:inline-block;
    content: '';
    width: 25%;
    height: 0px;
    border: 1px solid var(--border-color);
}

h1.header::before {
    left: 0px;
}

h1.header::after {
    right: 0px;
}

@media screen and (max-width: 1000px) {
    h1.header::before,
    h1.header::after
     {
        display: none;
    }
}
/* on large screens, limit the width so it looks good. */
/* 1400px + 40px for padding */
@media screen and (min-width: 1440px) {
    .container 
    {
       width: 1400px; 
    }
}

/* on mobile, limit the width of the things so it fits */

@media screen and (max-width: 500px) {
    h1.header .title {
        padding: 0 10px;
    }
}

/* Form styling */

form.dailytaskform,
form.generaltaskform
 { 
    display: flex;
    flex-direction: column;
    column-gap: 2px;
    row-gap: 2px;
    width: min-content;
    margin: 0 auto;
}

/* Source: */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/background-color */
form.dailytaskform input[type="submit"],
form.generaltaskform input[type="submit"],
button
{
    background-color: #f1368d;
    color: #eee;
    font-weight: 700;
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 99px;
    border-width: 10px;
    border-color: #cf037c;
    width: min-content;
    padding: 10px 20px 10px 20px;
}
button {
    width: 335px;
    margin: 0 auto;
}


/* text input. make it slightly prettier*/
form.dailytaskform textarea,
form.generaltaskform textarea, 
form.dailytaskform input[type=text],
form.generaltaskform input[type=text] {
   border: 2px solid pink;
   background-color:hsl(350, 100%, 97%);
   height: 3ch;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: left;
   justify-content: left;
   align-items: top;
   vertical-align: top;
}

/* end form styling */




.dailytasklist ul.todolist,
.generaltasklist ul.todolist,
.finishedtasklist ul.todolist
{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.dailytasklist ul.todolist li,
.generaltasklist ul.todolist li,
.finishedtasklist ul.todolist li
{
    border-bottom: 2px solid pink;
    position: relative;
    list-style: none;
}


/*https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

/* Customize the label (the container) */
.container1 {
    display: block;
    position: absolute;
    cursor: pointer;
    font-size: 22px;
    left: -30px;
    top: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid pink;
  }
  
/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: rgba(#ccc,.1);
}
  
  /* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: transparent;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark::after {
   display: block;
}
  
/* Style the checkmark/indicator */
.container1 .checkmark::after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid pink;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.hidden {
    display: none;
}
.otherbuttons {
    margin-top: 10px;
    display: flex;
    flex-direction:row;

}
@media screen and (max-width: 725px) {
    .otherbuttons {
        flex-direction: column;
        row-gap: 10px;
    }
}
/* 
@media screen and (max-width: 500px) {
    
    .otherbuttons {
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;;
    }
} */